html {
  position: relative;
  min-height: 100%;
}
body {
  font-size: 1rem;
  margin-bottom:80px;
  background-color:aliceblue;
}

#homeCarousel {
  margin-top:20px;
}

.footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.footer ul li {
  display: inline;
}

.footer ul li a {
  color: #C0C0C0;
  padding-left:30px;
  padding-right:60px;
  text-decoration: none;
}

.footer ul li a:hover {
  color: white;
  text-decoration: none;
}

.buy-items {
  width: auto;
  height: 345px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 100; /* Behind the navbar */
  padding-top: 60px; /* Height of navbar */
  width: fit-content;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


main {
  margin-top:80px;
}